#gkInset1 { width: 33%; }
#gkComponentWrap { width: 67%; }
#gkRight { width: 28%; }
#gkContent { width: 72%; }
.gkWrap { width: 1000px!important; }
body,
#gkPage .box.small > div > h3.header,
#gkPage .box_text.small > div > h3.header,
#gkPage .box_menu.small > div > h3.header,
#gkBottomWrap .box > div > h3.header,
#gkPage .box.advert h3.advert { font-family: Arial, Helvetica, sans-serif; }

#gkMainMenu > div > ul > li > a,
#gkPage .box > div > h3.header,
#gkPage .box_menu > div > h3.header,
#gkPage .box_text > div > h3.header,
ul.gkTabs li,
h1, h2, h3, h4, h5,
#gkMainMenu > div > ul div.childcontent .group-title,
.button,
button,
button.button,
input[type=submit],
input[type=button],
.pagenav-next a,
.pagenav-prev a,
table th,
legend,
.tip-title,
div.pagination ul li a,
div.pagination ul li span,
div.k2Pagination ul li a,
div.k2Pagination ul li span,
div.header .nspLinks ul li h4,
#article-index ul li a,
#jsMenu .jsMenuBar > ul > li > a,
#community-wrap div.profile-info .contentheading,
#community-wrap div.greybox div.joinbutton,
body #community-wrap div.profile-toolbox-bl ul.small-button li,
ul.profile-details li.title,
div.ctitle,
#community-wrap .latest-events .jsEvDate,
#community-wrap .cModule.latest-events .jsDetail b a,
body #community-wrap ul#featurelist li,
#community-wrap h1,
#community-wrap h2,
#community-wrap h3,
#community-wrap h4,
#community-wrap .cModule h3 span,
#cWindow #cWindowAction input.button,
#community-wrap .clabel,
#community-wrap .cTabsBar ul li a,
#community-wrap .album-name,
#cWindowContentTop #cwin_logo,
#community-wrap .label,
#community-wrap .video-title,
#community-wrap .joms-newsfeed-more,
#cWindowAction .button,
#community-wrap #cFeatured.forPeople .cFeatured-Name a,
div.mobileSwitch > a { font-family: BebasNeue, Arial, sans-serif; }

#gkToptop1 { width: 54%; }
#gkToptop2 { width: 23%; }
#gkToptop3 { width: 23%; }
#gkToptop7 { width: 100%; }
#gkbottombottom1 { width: 25%; }
#gkbottombottom2 { width: 25%; }
#gkbottombottom3 { width: 25%; }
#gkbottombottom4 { width: 25%; }
#gkbottombottom7 { width: 25%; }
#gkbottombottom8 { width: 25%; }
#gkbottombottom9 { width: 25%; }
#gkbottombottom10 { width: 25%; }
div#poll_loading_23 {
    background: url(media/system/images/mootree_loader.gif) 0% 50% no-repeat;
    width:100%;
    height:20px;
    padding: 4px 0 0 20px;
}